/*Font Weights*/
:root {
  --fw-time-control: bold;
  --fw-menu-li: bold;
  --fw-menu-title: bold;
  --fw-error-disp: bold;
  --fw-title-bar: bolder;
  --fw-captions-subs: 500;
  --fw-title-description: 500;
}