// CONTROL BAR
$width-control-bar: 100%;
$height-control-bar: 5.5em;
$height-control-bar-mobile: 4.7em;
$padding-control-bar: .7em 1em .45em .7em;

// TIME CONTROL SPACING
$spacing-time-control: 0em; //USE EM
$padding-time-control: 0em .25em 0em .25em;
$padding-time-divider: .085em 0em 0 .095em;

// PROGRESS CONTROL
$height-progress-control: auto;
$width-progress-control: 100%;
$top-progress-control: -1.831em;
$radius-progress-holder: .3em;
$size-progress-control-holder: 1.77em;

// MENU LIST
$line-height-menu-list: 1.4em;
$padding-menu-list: 0.35em;
$padding-menu-list-title: .45em 0 .3em 0;

// MENU POPUP
$bottom-menu-popup: 1.55em;

// SCROLLBAR
$scrollbar-radius: 10px;
$scrollbar-width: 3.5px;
$scrollbar-width-firefox: thin;

// TITLE BAR
$padding-title-bar: 0.666em .63em .766em;
$line-height-title-bar: 1.8;