.vjs-luxmty.vjs-layout-x-small .vjs-quality-menu-button-4K-flag:after,
.vjs-luxmty.vjs-layout-x-small .vjs-quality-menu-button-HD-flag:after {
  font-size: 0.65em;
  line-height: 1.65em;
  height: 1.65em;
}