.vjs-luxmty.vjs-layout-x-small .vjs-loading-spinner,
.vjs-luxmty.vjs-layout-tiny .vjs-loading-spinner {
  width: 3.3em;
  height: 3.3em;
}

.vjs-luxmty.vjs-layout-x-small .vjs-loading-spinner:before,
.vjs-luxmty.vjs-layout-tiny .vjs-loading-spinner:before {
  border-width: .38em;
}

